# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
*.env
backend/.env
frontend/.env

# Build
backend/dist/
frontend/.next/

# Editor/OS
.DS_Store
.idea/
.vscode/
Thumbs.db

